/ProjetoSaidaDados/nbproject/private/
/ProjetoSaidaDados/build/
/ProjetoSaidaDados/dist/
/JavaApplication2/nbproject/private/
/ProjetoEntradaDados/nbproject/private/
/ProjetoEntradaDados/build/
/ProjetoRevisao/nbproject/private/
/ProjetoRevisao/build/
/ProjetoFluxo/nbproject/private/
/ProjetoFluxo/build/
